.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: gray;
    padding: 20px;
    width: 500px;
}

body {
    background-image: url("https://img.freepik.com/free-vector/pop-art-pattern_24908-60383.jpg");
}

.heading1 {
    text-align: center;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 2px;
    border: 4px solid black;
}
